#%RAML 1.0
title: Hello World API
version: v1
baseUri: https://api.github.com
annotationTypes:
    types:
        allowedTargets: [TypeDeclaration,API]
        properties:
            className?:
                type: string
            implementationClassName?:
                type: string
            usePrimitiveType?:
                type: boolean
            generateInlineType?:
                type: boolean
            abstract?:
                type: boolean
            plugins?: any[]
types:
    child:
      type: object
      properties:
        name: string
    childArray:
      type: array
      items: child

    inlineChildren:
      type: array
      items:
         type: child
         properties:
             last: string
    inlineStuff:
      type: array
      items:
         type: object
         properties:
             last: string

    emptyArrayType:
      type: array

    father:
      type: object
      properties:
        others: child[]
        some: string[]

    mother:
      type: object
      properties:
        children: childArray
        otherChildren:
          type: array
          items:
            type: child
        complicatedChildren:
          (types):
            generateInlineArrayType: true
          type: emptyArrayType
          items:
            type: child
        smaller:
          (types):
            generateInlineArrayType: true
          type: array
          items:
            type: object
            properties:
              name: string

